<div class="row">
<div class="col-sm-3">
    <ul class="nav flex-column">
        <li class="nav-item">

<!--instead of href use routerLink=/""-->

          <a class="nav-link ">Home (what would this be?)</a>
        </li>
        <li class="nav-item"  >
          <a class="nav-link" routerLink="/employee/orders" >Update Info  (eventually)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee/info" >View Info</a><!--create moduiles for each option-->
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="">LogOut</a>
        </li>
      </ul>
      
</div>
<div class="col-sm-9">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/employee/pending">Pending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee/accepted">Accepted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee/made">Finished</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/employee/complete">Closed Out</a>
        </li>
      </ul>
<router-outlet></router-outlet>
</div>

</div>

