<div class="row">
  <div class="col-sm-3">
    <ul class="nav flex-column">
      <li class="nav-item">

        <!--instead of href use routerLink=/""-->

        <a class="nav-link ">Home (what would this be?)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Update Info (eventually)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer/info">View Info</a>
        <!--create moduiles for each option-->
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="">LogOut</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/customer/status">Order Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/customer/contactUs">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/customer/history">Order History</a>
      </li>
    </ul>

  </div>
  <div class="col-sm-9">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/customer/menu/pizza">Pizza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Other Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Items TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/customer/checkOut">Check Out</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>

</div>