<br>
<h3>Order History</h3>
<table class="table">
<thead>
  <th>Order ID</th>
  <th>Status</th>
  <th>Total</th>

  <th>Customer ID</th>
  <th>Customer Name</th>
  <th>Employee ID</th>
  <th>Employee Name</th>
  <th>Item</th>
</thead>
<tbody>
  <tr *ngFor="let ord of comp">
    <td>{{ord.id}}</td>
    <td>{{ord.status}}</td>
    <td>{{ord.total}}</td>
    <td>{{ord.customer.id}}</td>
    <td>{{ord.customer.firstName}} </td>
    <td>{{ord.employee.id}}</td>
    <td>{{ord.employee.firstName}} </td>
    <td>{{ord.food[0].name}}</td>
   

  </tr>
</tbody>

</table>