<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Login</title>

</head>

<body class="text-center">
  <form class="form-signin" [formGroup]="angForm">
   <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="" formControlName="username" #username [(ngModel)] = "loginInfo.username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" formControlName="password" #passowrd [(ngModel)] = "loginInfo.passowrd">
    <div class="checkbox mb-3">

    </div>
    <button (click)="doLogin(usernmae.value, passowrd.value)" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">FoodForce © 2019-2020</p>
  </form>

  <nav>

      <a routerLink="/employee">employee</a>
      these links are temporary
      <a routerLink="/customer">customer</a>
    </nav>


</body></html>
