<br>
<h3>Prepared Orders</h3>
<table class="table">
<thead>
  <th>Order ID</th>
  <th>Status</th>
  <th>Total</th>
  <th>Customer Name</th>
  <th>Employee Name</th>
  <th>Item</th>
  
</thead>
<tbody>
  <tr *ngFor="let ord of made ; let i = index" [attr.data-index]="i">
    <td>{{ord.id}}</td>
    <td>{{ord.status}}</td>
    <td>{{ord.total}}</td>
    <td>{{ord.customer.firstName}}</td>
    <td>{{ord.employee.firstName}}</td>
    <td>{{ord.food[0].name}}</td>
    <td><button (click)="sell(i)">Sold</button></td>

  </tr>
</tbody>

</table>