<br>
<h3>Pending Orders</h3>
<table class="table">
<thead>
  <th>Order ID</th>
  <th>Status</th>
  <th>Total</th>
<!--pending orders have no employee assigned to them yet-->
  <th>Customer Name</th>
  <th>Items</th>
  <th>Accept Order</th>
</thead>
<tbody>
  <tr *ngFor="let ord of pends">
    <td>{{ord.id}}</td>
    <td>{{ord.status}}</td>
    <td>{{ord.total}}</td>
    <td>{{ord.customer.firstName}}</td>
    <td>{{ord.food[0].name}}</td>
    <td><button >Accept</button></td>
  </tr>
</tbody>

</table>


